/*General*/
*{
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #FFE2F6;
}


p {
  margin: 0 0 1em 0;
}

/*estructura general*/
.wrapper {
  max-width: 1300px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}

.wrapper > * {
  background-color: #FFC4ED;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}



@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}
/*cabecera principal*/
header{
  display: flex;
  flex-flow: column;
  align-items: center;
}
header .opciones {
  margin-left: 90%;
}
header .opciones img{
  margin-left: 1rem;
  width: 25%;
}
header ul{
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
header ul a{
  text-decoration: none;
  color: black;
}
header ul a:hover{
  color: #FF266D;
  font-weight: bold;
}


header ul li{
  margin-right: 1rem;
}
header ul img.lupa{
  margin-right: 1rem;
  width: 2rem;
}
hr{
  width: 100%;
}

/*footer*/
.footer{
  background-color: #FFC4ED;
  text-align: center;
  
  
}

.footer .foot{
  color: white;
  font-size: 35px;
  font-family: 'Lobster', cursive;
}

.footer input{
  border: 2px white solid;
  background-color:#FE81D8;
  height: 2.5rem;
  width: 75%;
  color: white;
  font-size: x-large;
}

::placeholder { color:white; }

.footer button{
  align-self: center;
  background-color: #FF266D;
  color:white ;
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
}
  
button:hover{
  background-color: #CF0043;
}
.footer .end {
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  border-bottom: 1px black solid;
}


.footer .end *{
  flex: 100%;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  
}

.footer .end div{
  display: flex;
  flex-flow: column;
}
.footer .end a{
  font-size: small;
  margin: 10px;
}
.footer .end a:hover{
  color: #FF266D;
  font-weight: bold;
}


/*Media query*/
@media screen and (min-width: 500px) {
  
  header ul{
    list-style: none;
    display: flex;
    flex-flow: row;
  }
  header ul li{
    align-self: center;
  }
  

  .content {
    grid-column: 1/ span 2;
    grid-row: 2;
    
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
  }
  
  .header, .footer {
    grid-column: 1 / -1;
    clear: both;
  }

  .footer .end{
    display: flex;
    flex-flow: row;
  }

}
  
